input {
  margin: 10px 0;
  border-radius: 2px;
}

body {
  background-image: url("http://www.qygjxz.com/data/out/255/5675404-white-background-wallpaper.png");
  background-color: rgba(255,255,255,0.65);
  background-blend-mode: lighten;
}

#anadir-persona {
  margin: 5px;
}

#btn-doy {
  margin: 10px;
}

#cerrar-sesion, #filtrar {
  margin: 20px 0px;
}

#valor-persona {
  font-size: 150%;
}

.card {
  width: 400px;
  float: none;
  margin: 0 auto;
}

#aut {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-right: -50%;
}

.card button {
  margin-top: 10px;
}